@charset "UTF-8";


table{
	border: 2px solid #333;
	border-collapse: collapse;
	margin-bottom: 10px;
}



 th {
	border: 2px solid #333;
	padding: 12px;
	text-align: left;
	
}

td{
	border: 2px solid #333;
	padding: 8px;
}

.botao {
	padding: 5px;
	margin: 0 2px 0 2px;
	text-decoration: none;
}

.botao-cadastrar {
	background-color: #0000dd;
	border-radius: 5px;
	color: #eeeeee;
	margin: 20px 0 0 0;
}

.botao-deletar {
	background-color: #dd0000;
	border-radius: 5px;
	color: #eeeeee;
}

.botao-editar {
	background-color: #00dd99;
	border-radius: 5px;
	color: #eeeeee;
}

.botao-ordenacao {
	background-color: #554400;
	border-radius: 5px;
	color: #eeeeee;
}
